@import "./variables.less";

@groundFooterHeight: 200px; //tODO move and fix 
@height: @viewportHeight - @groundFooterHeight;

.avatar-region{
  background: white;
  width: @viewportWidth / 3;
  height: @height;
  margin-bottom: 200px;
  display: inline-block;
  float: right;
  position: relative;
  .canvas{
    img{
      position: absolute;
      margin-left: auto;  
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;

      &.dot{
        top: 300px;
      }
    }
  }

  .speech-box{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    border: solid 5px black;
    border-radius: 5px;
    div.text{
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        padding: 15px;
        letter-spacing: .15em; /* Adjust as needed */
        transition: opacity 0.1s;
        
        opacity: 0;
        &.show{
            opacity: 1;
            animation: typing 3.5s steps(40, end);
        }
    }
}

}


.scene.active .scene:not(.active) .speech-box{
  display: none;
}