@import "./variables.less";


#viewport{
	width: 1024px;
	height: @viewportHeight;
	background: #ddd;
	position: absolute;
	left: 200px;
	top: 100px;

	// background: green;
}

.nonexist{
	height: 0px;
	width: 0px;
}

.button{
	left: @buttonLeft;
}