@import "./animations.less";
@import "./variables.less";

.pillar-region {
  height: 300px;
  width: 200px;
  bottom: 200px;
  left: 100px;
  	position: absolute;
    .visible{
      height: 300px;
      position: relative;
      overflow: hidden;


      img.pillar {
        display: inline-block;
        height: 282px;
        width: 200px;
        bottom: 0px;
        z-index: 4;
        position: absolute;
      }
    }


    div.parameter-region{
      height: 55px;
      width: 145px;
      position: absolute;
      top: 84px;
      left: 35px;
      div.parameter-slot{
        height: 55px;
        float: left;
        background: green;
        position: relative;
        z-index: 999;
        width: 42px;
        padding: 3px;
      }
    }
  } 