@import "./variables.less";

.dev-tools{
    width: @viewportWidth;
    height: 200px;
    background: #999;
    position: relative;

    div{
        height: 100%;
        float: left;
    }

    .dev-number-generator{
        width: 200px;
    }

    .dev-colour-generator{
        width: 600px;
    }
    .test{
        width: 200px;
    }
    .unlock{
        width: 200px;
    }
    


    h4 {
        margin-top: 0px;
        margin-bottom: 4px;
    }
}