.scene.one-of-four{
    .scene.S00{
        transform-origin: 10% 13%
    }
    .scene.S01{
        transform-origin: 50% 13%;
    }
    .scene.S02{
        transform-origin: 90% 13%;
    }
    .scene.S03{
        transform-origin: 50% 50%
    }
    .scene.S04{
        transform-origin: 10% 50%
    }
}