@import "./animations.less";
@import "./variables.less";

.pillars-container{
  width: 600px;
  height: 300px;
  position: absolute;
  left: 100px;
  bottom: 200px;
}

.pillar-region {
  margin-left: 12px;
  float: left;
  height: 300px;
  width: 200px;
  position: relative;
  // bottom: 200px;
  // left: 100px;
    .visible{
      height: 300px;
      position: relative;
      overflow: hidden;


      img.pillar {
        display: inline-block;
        height: 100%;
        width: 200px;
        bottom: 0px;
        z-index: 4;
        // position: absolute;
      }
    }

    
  } 