@import "./variables.less";


.scene{
    .scene *{
        pointer-events: none;
    }
    &.nav-scene > .scene.active *{
        pointer-events: all;
    }
    &.active, &.one-of-four.transient{
        display: block;
        transform: none;
    }
    &.transient{
        border-width: 0px;   
        overflow: visible;
    }
}

.scene.nav-scene{
    transform: none;
}


.scene.transient{
    border-color: rgba(1,1,1,0.01);
    margin: 0px;
    display: block;
    width: @sceneWidth;
    height: @sceneHeight;
    
}


.scene{
    display: none;

    transition: all 2s ease;
    *{
        transition: all 2s ease;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    background: #Fff;
    width: @sceneWidth;
    height: @sceneHeight;
    border-radius: 20px;
    border: double 12px @sceneBorderColour;
    position: absolute;

    overflow: hidden;
    &.active{
        transform: none !important;
        display: block;
        width: @sceneWidth;
        height: @sceneHeight;
        .scene{
            display: block;
        }
    }
    
}